<%= month_calendar events: @articles do |date, articles| %>
  <%= date.day %>
  <% articles.each do |article| %>
    <div>
      <%= link_to article.meal, edit_article_path(article) %>
    </div>
  <% end %>
<% end %>

