<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Tomさん</a>
  </div>
  <div class="create-room">
    <a href="#">記録する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <%= Date.current.strftime('%Y/%m/%d') %><br>
      <a>28週4日 妊娠8ヶ月</a>
    </div>
    <div class="room-name">
      <a>予定日まで</a>
      <a class="room-name-yoteibi">80日</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <%= image_tag '/flower3.png', class:"post-image", :size => '270x350' %>
    </div>
  </div>
</div>